openapi: 3.1.0
info:
  title: Steamworks Web IPlayerService ISteamUserStats API
  version: 1.0.0
  description: 'Valve''s Steamworks Web API exposes a constellation of HTTP interfaces for

    games, players, news, friends, achievements, and items. Public read-only

    interfaces (with a Steam Web API key) are served from api.steampowered.com;

    publisher-restricted methods are served from partner.steam-api.com.

    Endpoints derived from https://steamcommunity.com/dev and the Steamworks

    documentation at https://partner.steamgames.com/doc/webapi.

    '
  contact:
    name: Steamworks Developer Portal
    url: https://partner.steamgames.com/doc/webapi
servers:
- url: https://api.steampowered.com
  description: Public Steam Web API
- url: https://partner.steam-api.com
  description: Publisher-only Steam Web API
security:
- ApiKey: []
tags:
- name: ISteamUserStats
paths:
  /ISteamUserStats/GetGlobalAchievementPercentagesForApp/v2/:
    get:
      summary: Get global achievement percentages for an application
      parameters:
      - in: query
        name: gameid
        required: true
        schema:
          type: integer
      - in: query
        name: format
        schema:
          type: string
          enum:
          - json
          - xml
          - vdf
          default: json
      responses:
        '200':
          description: Achievement percentages
      tags:
      - ISteamUserStats
  /ISteamUserStats/GetGlobalStatsForGame/v1/:
    get:
      summary: Get global stats for a game
      parameters:
      - in: query
        name: appid
        required: true
        schema:
          type: integer
      - in: query
        name: count
        required: true
        schema:
          type: integer
      - in: query
        name: name[0]
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Global stats
      tags:
      - ISteamUserStats
  /ISteamUserStats/GetNumberOfCurrentPlayers/v1/:
    get:
      summary: Get current concurrent player count for an application
      parameters:
      - in: query
        name: appid
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Player count
      tags:
      - ISteamUserStats
components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: query
      name: key
      description: Steam Web API key. Obtain at https://steamcommunity.com/dev/apikey.
