openapi: 3.1.0
info:
  title: Steamworks Web IPlayerService API
  version: 1.0.0
  description: 'Valve''s Steamworks Web API exposes a constellation of HTTP interfaces for

    games, players, news, friends, achievements, and items. Public read-only

    interfaces (with a Steam Web API key) are served from api.steampowered.com;

    publisher-restricted methods are served from partner.steam-api.com.

    Endpoints derived from https://steamcommunity.com/dev and the Steamworks

    documentation at https://partner.steamgames.com/doc/webapi.

    '
  contact:
    name: Steamworks Developer Portal
    url: https://partner.steamgames.com/doc/webapi
servers:
- url: https://api.steampowered.com
  description: Public Steam Web API
- url: https://partner.steam-api.com
  description: Publisher-only Steam Web API
security:
- ApiKey: []
tags:
- name: IPlayerService
paths:
  /IPlayerService/GetOwnedGames/v1/:
    get:
      summary: Get the list of games owned by a Steam user
      security:
      - ApiKey: []
      parameters:
      - in: query
        name: steamid
        required: true
        schema:
          type: string
      - in: query
        name: include_appinfo
        schema:
          type: boolean
          default: false
      - in: query
        name: include_played_free_games
        schema:
          type: boolean
          default: false
      - in: query
        name: format
        schema:
          type: string
          enum:
          - json
          - xml
          - vdf
          default: json
      responses:
        '200':
          description: Owned games
      tags:
      - IPlayerService
  /IPlayerService/GetRecentlyPlayedGames/v1/:
    get:
      summary: Get recently played games for a Steam user
      security:
      - ApiKey: []
      parameters:
      - in: query
        name: steamid
        required: true
        schema:
          type: string
      - in: query
        name: count
        schema:
          type: integer
      responses:
        '200':
          description: Recently played games
      tags:
      - IPlayerService
  /IPlayerService/GetSteamLevel/v1/:
    get:
      summary: Get the Steam level for a Steam user
      security:
      - ApiKey: []
      parameters:
      - in: query
        name: steamid
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Steam level
      tags:
      - IPlayerService
components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: query
      name: key
      description: Steam Web API key. Obtain at https://steamcommunity.com/dev/apikey.
